* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: hsl(212, 15%, 89%);
}



.inner-space {
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 15px;
    width: 300px;
    text-align: center;
}



.qr-code-cont {
    background-color: hsl(218, 44%, 22%);
    width: 100%;
}

img {
    width: 100%;
    border-radius: 10px;
}

h2 {
    margin-top: 20px;
    font-size: 18px;
    color: hsl(218, 44%, 22%)
}

p {
    margin-top: 10px;
    font-size: 14px;
    color: hsl(216, 15%, 48%);
}

.attribution {
    position: absolute;
    bottom: 10px;
    font-size: 12px;
}

@media (max-width: 375px) {
  .inner-space {
    width: 90%;
    padding: 15px;
  }  

  h2 {
    font-size: 16px;
  }

  p {
    font-size: 13px;
  }
}