*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --white: hsl(0, 0%, 100%);
    --slate-300: hsl(212, 45%, 89%);
    --slate-500: hsl(216, 15%, 48%);
    --slate-900: hsl(218, 44%, 22%);
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--slate-300);
    font-family: 'Outfit', sans-serif;
    padding: 1rem;
}

.card {
    background-color: var(--white);
    padding: 1.5rem;
    border-radius: 1rem;
    width: min(20rem, 90%);
    text-align: center;
    box-shadow: o 10px 20px rgba(0, 0, 0, 0.1);
}

.qr-code-image {
    margin-bottom: 1rem;
}

.qr-code-image img {
    width: 100%;
    border-radius: 0.75rem;
}

h1 {
    font-size: 1.2rem;
    color: var(--slate-900);
    margin-bottom: 0.75rem;
}

p {
    font-size: 0.9375rem;
    color: var(--slate-500);
}

.attribution {
    margin: 1rem;
    font-size: 0.75rem;
    text-align: center;
}